.slider{
	&__wrap{
		position: relative;
		.slick-track{
			display: flex;
		}
		.slick-list{
			overflow: hidden;

		}
		.slick-arrow{
			font-size: 0;
			width: 25px;
			height: 65px;
			position: absolute;
			top:50%;
			transform:translate(0,-50%);
			background-image: url("../image/slider/arrow.png");
			background-size: cover;
			background-repeat: no-repeat;
			background-position:center;

		}
		.slick-prev{
			left: 0;
			transform:translate(-100%,-50%);

		}
		.slick-next{
			right: 0;
			transform:translate(100%,-50%);
		}
	}
}